<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceDBSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6764/ServiceDB.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceDBSoap" contract="ServiceDados.ServiceDBSoap"
                name="ServiceDBSoap" />
        </client>
    </system.serviceModel>
</configuration>