@*CSS STYLE*@
<style type="text/css">
    .bgcolor {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url('../Imagens/fundoSite.png')
    }

    .bgimg {
        background-image: url('../Imagens/MESA2.png');
        background-repeat: no-repeat;
        background-size: 300px 100px
    }

    h1 {
        background-color: #000000;
        font-size: 85px;
        font-family: Deutsche Zierschrift;
        text-align: center;
        color: white;
    }

    .p1 {
        background-color: #000000;
        font-size: 40px;
        font-family: Bastarda;
        text-align: center;
        color: whitesmoke;
        font-style: oblique;
    }
</style>

<div>

    <h1> MESA RPG</h1>
    <p class="p1">Sejam Bem Vindos! </p>
</div>
<div class="bgcolor">
        <img src="~/Imagens/MESA2.png" width="800" height="600"/>
    </div>
<div></div>


